.wearehiring-container {
  padding-bottom: 3rem;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.job-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 2rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.job-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 123, 255, 0.3);
}

.job-icon-container {
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.job-icon {
  width: 24px;
  height: 24px;
}

.job-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
  margin-top: 40px;
}

.job-location {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #555;
}

.job-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.apply-btn {
  align-self: flex-start;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.apply-btn:hover {
  background-color: #004085;
  border-color: #004085;
  color: #fff;
}

@media (max-width: 767.98px) {
  .job-cards {
    flex-direction: column;
    align-items: center;
  }

  .job-card {
    width: 100%;
    max-width: 400px;
  }
}
