$t-saffron: #FF9933;
$t-white: #FFFFFF;
$t-green: #138808;

.tiranga-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .saffron {
    background-color: transparent;
    flex: none;
    height: 0;
  }

  .white {
    background-color: $t-white;
    flex: none;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .chakra-wrapper {
      position: absolute;
      top: 20px;

      .chakra {
        width: 80px;
      }
    }

    .content {
      z-index: 1;
      color: #000;
      width: 100%;
      padding: 0;
    }
  }

  .green {
    background-color: transparent;
    flex: none;
    height: 33vh;
  }
}
